# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [119]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [120]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [185]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [121]:
# print names of all countries
for child in document_tree.getroot():
    print (child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [122]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [123]:
#import data by reading from file
document = ET.parse( './data/mondial_database.xml' )
root = document.getroot()

In [124]:
#import pandas and numpy
import numpy as np
import pandas as pd

Q1: 10 countries with the lowest infant mortality rates

In [125]:
#create a dictionary of country and infant mortality rate and loop through countries only assigning country and mortality rate
#if data is available (Skip countries w infant mortality rate = Not provided/None)
mortality_dict = {}
for country in document.iterfind('country'):
    name = country.find('name').text
    im = country.findtext('infant_mortality')
    #print(im)
    if im is not None:
        mortality_dict[name] = float(im)

#create a pd df from the dictionary 
mortal_df = pd.DataFrame.from_dict(mortality_dict, orient = 'index')
mortal_df = mortal_df.rename(columns = {0:'Infant_Mortality'})
print("Top 10 Lowest Infant Mortality Rates")
mortal_df.sort_values('Infant_Mortality').head(10)

Top 10 Lowest Infant Mortality Rates

                Infant_Mortality
Monaco                      1.81
Japan                       2.13
Bermuda                     2.48
Norway                      2.48
Singapore                   2.53
Sweden                      2.60
Czech Republic              2.63
Hong Kong                   2.73
Macao                       3.13
Iceland                     3.15

Q2: 10 cities with the largest population

In [126]:
#Create a dictionary of cities and populations
citypop_dict = {}
#for city w multiple listings this will grab the last/most recent year population
for country in document.iterfind('country'):
    for city in country.iterfind('city'):
        pop = city.findtext('population')
        if pop is not None:
            citypop_dict[city.find('name').text] = int(city.find('population').text)

cpop_df = pd.DataFrame.from_dict(citypop_dict, orient = 'index')
cpop_df = cpop_df.rename(columns = {0:'Population'})
print("Top 10 Largest City Populations")
cpop_df.sort_values('Population', ascending = False ).head(10)

Top 10 Largest City Populations

                 Population
Seoul              10229262
Hong Kong           7055071
Al Qahirah          6053000
Bangkok             5876000
Ho Chi Minh         3924435
Busan               3813814
New Taipei          3722082
Hanoi               3056146
Al Iskandariyah     2917000
Taipei              2626138

Q3: 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [211]:
#Create a dictionary of ethnic population
entry = []

for country in document.iterfind('country'):
    name = country.find('name').text
    
    for population in country.iterfind('population'):
        pop = int(population.text)
        year = int(population.get('year'))
 
    #print(name,year,pop)
    for ethnic in country.iterfind('ethnicgroup'):
        group = []
        group.append(name)
        if pd.isnull(ethnic):
            continue
        else:
            group.append(ethnic.text)
            if pd.isnull(ethnic.attrib['percentage']):
                group.append(replace)
            else:
                percent = float(ethnic.attrib['percentage'])
                group.append(percent)
                group.append(year)
                group.append(pop)
        entry.append(group)

entry

[['Albania', 'Albanian', 95.0, 2011, 2800138],
 ['Albania', 'Greek', 3.0, 2011, 2800138],
 ['Greece', 'Greek', 93.0, 2011, 10816286],
 ['Macedonia', 'Macedonian', 64.2, 2011, 2059794],
 ['Macedonia', 'Albanian', 25.2, 2011, 2059794],
 ['Macedonia', 'Turkish', 3.9, 2011, 2059794],
 ['Macedonia', 'Gypsy', 2.7, 2011, 2059794],
 ['Macedonia', 'Serb', 1.8, 2011, 2059794],
 ['Serbia', 'Serb', 82.9, 2011, 7120666],
 ['Serbia', 'Montenegrin', 0.9, 2011, 7120666],
 ['Serbia', 'Hungarian', 3.9, 2011, 7120666],
 ['Serbia', 'Roma', 1.4, 2011, 7120666],
 ['Serbia', 'Bosniak', 1.8, 2011, 7120666],
 ['Serbia', 'Croat', 1.1, 2011, 7120666],
 ['Montenegro', 'Montenegrin', 43.0, 2011, 620029],
 ['Montenegro', 'Serb', 32.0, 2011, 620029],
 ['Montenegro', 'Bosniak', 8.0, 2011, 620029],
 ['Montenegro', 'Albanian', 5.0, 2011, 620029],
 ['Kosovo', 'Albanian', 92.0, 2011, 1733872],
 ['Kosovo', 'Serbian', 5.0, 2011, 1733872],
 ['Andorra', 'Spanish', 43.0, 2011, 78115],
 ['Andorra', 'Andorran', 33.0, 2011, 78115],
 ['Andorra', 'Portuguese', 11.0, 2011, 78115],
 ['Andorra', 'French', 2.0, 2011, 78115],
 ['Andorra', 'African', 5.0, 2011, 78115],
 ['Spain', 'Mediterranean Nordic', 100.0, 2011, 46815916],
 ['Austria', 'Austrian', 91.1, 2013, 8499759],
 ['Austria', 'Turkish', 1.6, 2013, 8499759],
 ['Austria', 'Slovene', 1.0, 2013, 8499759],
 ['Austria', 'Croat', 2.0, 2013, 8499759],
 ['Austria', 'Serbs', 2.0, 2013, 8499759],
 ['Austria', 'German', 0.9, 2013, 8499759],
 ['Czech Republic', 'Czech', 90.4, 2011, 10562214],
 ['Czech Republic', 'Moravian', 3.7, 2011, 10562214],
 ['Czech Republic', 'Slovak', 1.9, 2011, 10562214],
 ['Czech Republic', 'German', 0.5, 2011, 10562214],
 ['Czech Republic', 'Polish', 0.6, 2011, 10562214],
 ['Czech Republic', 'Roma', 0.3, 2011, 10562214],
 ['Czech Republic', 'Hungarian', 0.2, 2011, 10562214],
 ['Germany', 'German', 91.5, 2011, 80219695],
 ['Germany', 'Turkish', 2.4, 2011, 80219695],
 ['Hungary', 'Hungarian', 92.3, 2011, 9937628],
 ['Hungary', 'Roma', 1.9, 2011, 9937628],
 ['Hungary', 'Serb', 2.0, 2011, 9937628],
 ['Hungary', 'German', 2.6, 2011, 9937628],
 ['Hungary', 'Slovak', 0.8, 2011, 9937628],
 ['Hungary', 'Romanian', 0.7, 2011, 9937628],
 ['Liechtenstein', 'Italian', 5.0, 2012, 36636],
 ['Liechtenstein', 'Alemannic', 95.0, 2012, 36636],
 ['Slovakia', 'Slovak', 85.7, 2011, 5397036],
 ['Slovakia', 'Hungarian', 9.7, 2011, 5397036],
 ['Slovakia', 'Roma', 1.7, 2011, 5397036],
 ['Slovakia', 'Czech', 1.0, 2011, 5397036],
 ['Slovakia', 'Ukrainian', 0.3, 2011, 5397036],
 ['Slovakia', 'Ruthenian', 0.3, 2011, 5397036],
 ['Slovakia', 'German', 0.1, 2011, 5397036],
 ['Slovakia', 'Polish', 0.1, 2011, 5397036],
 ['Slovenia', 'Slovene', 91.0, 2013, 2058821],
 ['Slovenia', 'Croat', 3.0, 2013, 2058821],
 ['Slovenia', 'Serb', 2.0, 2013, 2058821],
 ['Slovenia', 'Bosniak', 1.0, 2013, 2058821],
 ['Switzerland', 'German', 65.0, 2013, 8139631],
 ['Switzerland', 'French', 18.0, 2013, 8139631],
 ['Switzerland', 'Italian', 10.0, 2013, 8139631],
 ['Switzerland', 'Romansch', 1.0, 2013, 8139631],
 ['Belarus', 'Belorussian', 81.2, 2013, 9460692],
 ['Belarus', 'Russian', 11.4, 2013, 9460692],
 ['Belarus', 'Polish', 3.9, 2013, 9460692],
 ['Belarus', 'Ukrainian', 2.4, 2013, 9460692],
 ['Latvia', 'Latvian', 59.3, 2013, 2201196],
 ['Latvia', 'Russian', 27.8, 2013, 2201196],
 ['Latvia', 'Belorussian', 3.6, 2013, 2201196],
 ['Latvia', 'Ukrainian', 2.5, 2013, 2201196],
 ['Latvia', 'Polish', 2.4, 2013, 2201196],
 ['Latvia', 'Lithuanian', 1.3, 2013, 2201196],
 ['Lithuania', 'Lithuanian', 84.0, 2013, 2979310],
 ['Lithuania', 'Polish', 6.1, 2013, 2979310],
 ['Lithuania', 'Russian', 4.9, 2013, 2979310],
 ['Lithuania', 'Belorussian', 1.1, 2013, 2979310],
 ['Poland', 'German', 1.3, 2012, 38533789],
 ['Poland', 'Polish', 97.6, 2012, 38533789],
 ['Poland', 'Ukrainian', 0.6, 2012, 38533789],
 ['Poland', 'Byelorussian', 0.5, 2012, 38533789],
 ['Ukraine', 'Ukrainian', 77.8, 2012, 45633637],
 ['Ukraine', 'Russian', 17.3, 2012, 45633637],
 ['Ukraine', 'Belorussian', 0.6, 2012, 45633637],
 ['Ukraine', 'Moldovan', 0.5, 2012, 45633637],
 ['Ukraine', 'Crimean Tatar', 0.5, 2012, 45633637],
 ['Ukraine', 'Bulgarian', 0.4, 2012, 45633637],
 ['Ukraine', 'Hungarian', 0.3, 2012, 45633637],
 ['Ukraine', 'Romanian', 0.3, 2012, 45633637],
 ['Ukraine', 'Polish', 0.3, 2012, 45633637],
 ['Ukraine', 'Jewish', 0.2, 2012, 45633637],
 ['Russia', 'Russian', 79.8, 2014, 143666931],
 ['Russia', 'Tatar', 3.8, 2014, 143666931],
 ['Russia', 'Ukrainian', 2.0, 2014, 143666931],
 ['Russia', 'Bashkir', 1.2, 2014, 143666931],
 ['Russia', 'Chuvash', 1.1, 2014, 143666931],
 ['Belgium', 'Fleming', 58.0, 2013, 11099554],
 ['Belgium', 'Walloon', 31.0, 2013, 11099554],
 ['Luxembourg', 'Luxembourgish', 63.1, 2012, 524853],
 ['Luxembourg', 'Portuguese', 13.3, 2012, 524853],
 ['Luxembourg', 'French', 4.5, 2012, 524853],
 ['Luxembourg', 'Italian', 4.3, 2012, 524853],
 ['Luxembourg', 'German', 2.3, 2012, 524853],
 ['Netherlands', 'Dutch', 80.7, 2014, 16843181],
 ['Netherlands', 'Indonesian', 2.4, 2014, 16843181],
 ['Netherlands', 'Turkish', 2.2, 2014, 16843181],
 ['Netherlands', 'Moroccan', 2.0, 2014, 16843181],
 ['Netherlands', 'Surinamese', 2.0, 2014, 16843181],
 ['Netherlands', 'Caribbean', 0.8, 2014, 16843181],
 ['Bosnia and Herzegovina', 'Muslim', 48.0, 2013, 3791622],
 ['Bosnia and Herzegovina', 'Bosniak', 37.1, 2013, 3791622],
 ['Bosnia and Herzegovina', 'Croat', 14.3, 2013, 3791622],
 ['Croatia', 'Croat', 89.6, 2011, 4290612],
 ['Croatia', 'Serb', 4.5, 2011, 4290612],
 ['Croatia', 'Hungarian', 0.5, 2011, 4290612],
 ['Croatia', 'Muslim', 0.9, 2011, 4290612],
 ['Croatia', 'Slovene', 0.5, 2011, 4290612],
 ['Bulgaria', 'Bulgarian', 76.9, 2012, 7284552],
 ['Bulgaria', 'Turkish', 8.0, 2012, 7284552],
 ['Bulgaria', 'Roma', 4.4, 2012, 7284552],
 ['Bulgaria', 'Macedonian', 2.5, 2012, 7284552],
 ['Bulgaria', 'Russian', 0.2, 2012, 7284552],
 ['Bulgaria', 'Armenian', 0.3, 2012, 7284552],
 ['Romania', 'Romanian', 89.1, 2011, 20121641],
 ['Romania', 'Hungarian', 6.6, 2011, 20121641],
 ['Romania', 'Roma', 2.5, 2011, 20121641],
 ['Romania', 'German', 0.3, 2011, 20121641],
 ['Romania', 'Ukrainian', 0.3, 2011, 20121641],
 ['Romania', 'Russian', 0.2, 2011, 20121641],
 ['Romania', 'Turkish', 0.2, 2011, 20121641],
 ['Turkey', 'Turkish', 84.54, 2012, 75627384],
 ['Turkey', 'Kurdish', 11.97, 2012, 75627384],
 ['Turkey', 'Arabic', 1.38, 2012, 75627384],
 ['Estonia', 'Estonian', 68.7, 2011, 1294455],
 ['Estonia', 'Russian', 25.6, 2011, 1294455],
 ['Estonia', 'Ukrainian', 2.1, 2011, 1294455],
 ['Estonia', 'Belorussian', 1.2, 2011, 1294455],
 ['Estonia', 'Finn', 0.8, 2011, 1294455],
 ['Faroe Islands', 'Scandinavian', 100.0, 2013, 48197],
 ['Finland', 'Finn', 93.4, 2014, 5455068],
 ['Finland', 'Swede', 5.6, 2014, 5455068],
 ['Finland', 'Russian', 0.5, 2014, 5455068],
 ['Finland', 'Estonian', 0.3, 2014, 5455068],
 ['Norway', 'Norwegian', 82.5, 2013, 5051275],
 ['Norway', 'Sami', 1.5, 2013, 5051275],
 ['Sweden', 'Swede', 83.0, 2012, 9555893],
 ['Sweden', 'Finn', 5.0, 2012, 9555893],
 ['Monaco', 'French', 47.0, 2010, 36845],
 ['Monaco', 'Monegasque', 21.6, 2010, 36845],
 ['Monaco', 'Italian', 19.0, 2010, 36845],
 ['Guernsey', 'Norman-French', 100.0, 2001, 59807],
 ['Iceland', 'Celt', 100.0, 2011, 318452],
 ['Ireland', 'Irish', 87.4, 2011, 4588252],
 ['Ireland', 'Asian', 1.3, 2011, 4588252],
 ['Ireland', 'African', 1.1, 2011, 4588252],
 ['Jersey', 'Norman-French', 100.0, 2011, 97857],
 ['Moldova', 'Moldavian/Romanian', 78.2, 2012, 3559541],
 ['Moldova', 'Ukrainian', 8.4, 2012, 3559541],
 ['Moldova', 'Russian', 5.8, 2012, 3559541],
 ['Moldova', 'Gagauz', 4.4, 2012, 3559541],
 ['Moldova', 'Bulgarian', 1.9, 2012, 3559541],
 ['Svalbard', 'Norwegian', 55.4, 2014, 1872],
 ['Svalbard', 'Russian Ukrainian', 44.3, 2014, 1872],
 ['United Kingdom', 'English', 83.6, 2013, 64105654],
 ['United Kingdom', 'Scottish', 8.6, 2013, 64105654],
 ['United Kingdom', 'Welsh', 4.9, 2013, 64105654],
 ['United Kingdom', 'Northern Irish', 2.9, 2013, 64105654],
 ['United Kingdom', 'African', 2.0, 2013, 64105654],
 ['United Kingdom', 'Indian', 1.8, 2013, 64105654],
 ['United Kingdom', 'Pakistani', 1.3, 2013, 64105654],
 ['Afghanistan', 'Tajik', 25.0, 2013, 26023100],
 ['Afghanistan', 'Pashtun', 38.0, 2013, 26023100],
 ['Afghanistan', 'Uzbek', 6.0, 2013, 26023100],
 ['Afghanistan', 'Hazara', 19.0, 2013, 26023100],
 ['China', 'Han Chinese', 91.5, 2013, 1360720000],
 ['Iran', 'Arab', 3.0, 2011, 75149669],
 ['Iran', 'Persian', 51.0, 2011, 75149669],
 ['Iran', 'Baloch', 2.0, 2011, 75149669],
 ['Iran', 'Azerbaijani', 24.0, 2011, 75149669],
 ['Iran', 'Kurd', 7.0, 2011, 75149669],
 ['Iran', 'Lur', 2.0, 2011, 75149669],
 ['Iran', 'Turkmen', 2.0, 2011, 75149669],
 ['Iran', 'Gilaki Mazandarani', 8.0, 2011, 75149669],
 ['Tajikistan', 'Tajik', 79.9, 2014, 8161100],
 ['Tajikistan', 'Uzbek', 15.3, 2014, 8161100],
 ['Tajikistan', 'Russian', 1.1, 2014, 8161100],
 ['Tajikistan', 'Kyrgyz', 1.1, 2014, 8161100],
 ['Turkmenistan', 'Turkmen', 85.0, 2010, 5041995],
 ['Turkmenistan', 'Uzbek', 5.0, 2010, 5041995],
 ['Turkmenistan', 'Russian', 4.0, 2010, 5041995],
 ['Uzbekistan', 'Uzbek', 80.0, 2010, 27769270],
 ['Uzbekistan', 'Russian', 5.5, 2010, 27769270],
 ['Uzbekistan', 'Tajik', 5.0, 2010, 27769270],
 ['Uzbekistan', 'Kazak', 3.0, 2010, 27769270],
 ['Uzbekistan', 'Karakalpak', 2.5, 2010, 27769270],
 ['Uzbekistan', 'Tatar', 1.5, 2010, 27769270],
 ['Armenia', 'Armenian', 97.7, 2013, 3026879],
 ['Armenia', 'Russian', 0.5, 2013, 3026879],
 ['Armenia', 'Yezidi', 1.3, 2013, 3026879],
 ['Georgia', 'Georgian', 83.8, 2013, 4483800],
 ['Georgia', 'Azeri', 6.5, 2013, 4483800],
 ['Georgia', 'Russian', 1.5, 2013, 4483800],
 ['Azerbaijan', 'Azeri', 90.6, 2013, 9356500],
 ['Azerbaijan', 'Dagestani', 2.2, 2013, 9356500],
 ['Azerbaijan', 'Russian', 1.8, 2013, 9356500],
 ['Azerbaijan', 'Armenian', 1.5, 2013, 9356500],
 ['Bahrain', 'Arab', 10.0, 2010, 1234596],
 ['Bahrain', 'Asian', 13.0, 2010, 1234596],
 ['Bahrain', 'Bahraini', 63.0, 2010, 1234596],
 ['Bahrain', 'Iranian', 8.0, 2010, 1234596],
 ['Bangladesh', 'Bengali', 98.0, 2011, 149772364],
 ['Myanmar', 'Indian', 2.0, 2014, 51419420],
 ['Myanmar', 'Chinese', 3.0, 2014, 51419420],
 ['Myanmar', 'Burman', 68.0, 2014, 51419420],
 ['Myanmar', 'Shan', 9.0, 2014, 51419420],
 ['Myanmar', 'Karen', 7.0, 2014, 51419420],
 ['Myanmar', 'Rakhine', 4.0, 2014, 51419420],
 ['Myanmar', 'Mon', 2.0, 2014, 51419420],
 ['India', 'Dravidian', 25.0, 2011, 1210854977],
 ['India', 'Indo-Aryan', 72.0, 2011, 1210854977],
 ['India', 'Mongol', 3.0, 2011, 1210854977],
 ['Bhutan', 'Bhote', 50.0, 2013, 733004],
 ['Bhutan', 'Nepalese', 35.0, 2013, 733004],
 ['Brunei', 'Chinese', 20.0, 2011, 393372],
 ['Brunei', 'Malay', 64.0, 2011, 393372],
 ['Malaysia', 'Malay', 50.4, 2010, 27565821],
 ['Malaysia', 'Chinese', 23.7, 2010, 27565821],
 ['Malaysia', 'Indian', 7.1, 2010, 27565821],
 ['Malaysia', 'Borneo indigenous', 11.0, 2010, 27565821],
 ['Laos', 'Lao Loum', 68.0, 2012, 6514432],
 ['Laos', 'Lao Theung', 22.0, 2012, 6514432],
 ['Laos', 'Lao Soung Hmong Yao', 9.0, 2012, 6514432],
 ['Laos', 'Vietnamese/Chinese', 1.0, 2012, 6514432],
 ['Thailand', 'Chinese', 14.0, 2010, 65981659],
 ['Thailand', 'Thai', 75.0, 2010, 65981659],
 ['Cambodia', 'Chinese', 1.0, 2010, 14364931],
 ['Cambodia', 'Khmer', 90.0, 2010, 14364931],
 ['Cambodia', 'Vietnamese', 5.0, 2010, 14364931],
 ['Vietnam', 'Viet/Kinh', 85.7, 2012, 88772900],
 ['Vietnam', 'Tay', 1.9, 2012, 88772900],
 ['Vietnam', 'Thai', 1.8, 2012, 88772900],
 ['Vietnam', 'Muong', 1.5, 2012, 88772900],
 ['Vietnam', 'Khmer', 1.5, 2012, 88772900],
 ['Vietnam', 'Mong', 1.2, 2012, 88772900],
 ['Vietnam', 'Nung', 1.1, 2012, 88772900],
 ['Kazakhstan', 'Kazakh', 63.1, 2014, 17165239],
 ['Kazakhstan', 'Russian', 23.7, 2014, 17165239],
 ['Kazakhstan', 'Uzbek', 2.8, 2014, 17165239],
 ['Kazakhstan', 'Ukrainian', 2.1, 2014, 17165239],
 ['Kazakhstan', 'Uighur', 1.4, 2014, 17165239],
 ['Kazakhstan', 'Tatar', 1.3, 2014, 17165239],
 ['Kazakhstan', 'German', 1.1, 2014, 17165239],
 ['Kyrgyzstan', 'Kyrgyz', 64.9, 2014, 5776600],
 ['Kyrgyzstan', 'Uzbek', 13.8, 2014, 5776600],
 ['Kyrgyzstan', 'Russian', 12.5, 2014, 5776600],
 ['Kyrgyzstan', 'Dungan', 1.1, 2014, 5776600],
 ['Kyrgyzstan', 'Ukrainian', 1.0, 2014, 5776600],
 ['Kyrgyzstan', 'Uighur', 1.0, 2014, 5776600],
 ['Hong Kong', 'Chinese', 95.0, 2011, 7071576],
 ['Hong Kong', 'Filipino', 1.6, 2011, 7071576],
 ['Hong Kong', 'Indonesian', 1.3, 2011, 7071576],
 ['Macao', 'Chinese', 95.0, 2011, 552503],
 ['Macao', 'Portuguese', 3.0, 2011, 552503],
 ['Mongolia', 'Mongol', 94.9, 2010, 2754685],
 ['Mongolia', 'Kazak', 5.0, 2010, 2754685],
 ['Christmas Island', 'Chinese', 70.0, 2011, 2072],
 ['Christmas Island', 'Malay', 10.0, 2011, 2072],
 ['Christmas Island', 'European', 20.0, 2011, 2072],
 ['Cyprus', 'Greek', 77.0, 2011, 840407],
 ['Cyprus', 'Turkish', 18.0, 2011, 840407],
 ['Gaza Strip', 'Jewish', 0.6, 2014, 1760037],
 ['Gaza Strip', 'Palestinian Arab', 99.4, 2014, 1760037],
 ['Israel', 'Jewish', 76.4, 2010, 7420368],
 ['Israel', 'Arab', 23.0, 2010, 7420368],
 ['Egypt', 'European', 1.0, 2013, 83667047],
 ['Egypt', 'Eastern Hamitic', 99.0, 2013, 83667047],
 ['Indonesia', 'Javanese', 45.0, 2014, 252124458],
 ['Indonesia', 'Sundanese', 14.0, 2014, 252124458],
 ['Indonesia', 'Madurese', 7.5, 2014, 252124458],
 ['Indonesia', 'Malay', 7.5, 2014, 252124458],
 ['Iraq', 'Kurdish', 15.0, 2011, 33330512],
 ['Iraq', 'Arab', 75.0, 2011, 33330512],
 ['Iraq', 'Assyrian', 5.0, 2011, 33330512],
 ['Jordan', 'Armenian', 1.0, 2011, 6249000],
 ['Jordan', 'Arab', 98.0, 2011, 6249000],
 ['Jordan', 'Circassian', 1.0, 2011, 6249000],
 ['Kuwait', 'Arab', 35.0, 2010, 2991580],
 ['Kuwait', 'Iranian', 4.0, 2010, 2991580],
 ['Kuwait', 'South Asian', 9.0, 2010, 2991580],
 ['Kuwait', 'Kuwaiti', 45.0, 2010, 2991580],
 ['Saudi Arabia', 'Arab', 90.0, 2010, 27136977],
 ['Saudi Arabia', 'Afro-Asian', 10.0, 2010, 27136977],
 ['Syria', 'Arab', 90.3, 2010, 20866000],
 ['Lebanon', 'Armenian', 4.0, 2010, 4341092],
 ['Lebanon', 'Arab', 95.0, 2010, 4341092],
 ['West Bank', 'Jewish', 17.0, 2014, 2790331],
 ['West Bank', 'Palestinian Arab', 83.0, 2014, 2790331],
 ['Japan', 'Japanese', 99.4, 2013, 127298000],
 ['United Arab Emirates', 'South Asian', 50.0, 2010, 8441537],
 ['United Arab Emirates', 'Emiri', 19.0, 2010, 8441537],
 ['United Arab Emirates', 'Arab Iranian', 23.0, 2010, 8441537],
 ['Philippines', 'Chinese', 1.5, 2010, 92337852],
 ['Philippines', 'Malay', 95.5, 2010, 92337852],
 ['Qatar', 'Indian', 18.0, 2010, 1699435],
 ['Qatar', 'Pakistani', 18.0, 2010, 1699435],
 ['Qatar', 'Arab', 40.0, 2010, 1699435],
 ['Qatar', 'Iranian', 10.0, 2010, 1699435],
 ['Singapore', 'Indian', 6.4, 2010, 5076700],
 ['Singapore', 'Chinese', 76.4, 2010, 5076700],
 ['Singapore', 'Malay', 14.9, 2010, 5076700],
 ['Sri Lanka', 'Sinhalese', 74.0, 2012, 20263723],
 ['Sri Lanka', 'Tamil', 18.0, 2012, 20263723],
 ['Sri Lanka', 'Arab', 7.0, 2012, 20263723],
 ['Sri Lanka', 'Vedda', 1.0, 2012, 20263723],
 ['Taiwan', 'Chinese', 14.0, 2012, 23315822],
 ['Taiwan', 'Taiwanese', 84.0, 2012, 23315822],
 ['Anguilla', 'Black', 90.1, 2011, 13037],
 ['Anguilla', 'Mulatto', 4.6, 2011, 13037],
 ['Anguilla', 'White', 3.7, 2011, 13037],
 ['Aruba', 'European/Caribbean Amerindian', 80.0, 2010, 101484],
 ['Barbados', 'European', 4.0, 2010, 277821],
 ['Barbados', 'African', 80.0, 2010, 277821],
 ['Belize', 'Mestizo', 48.7, 2010, 312971],
 ['Belize', 'Creole', 24.9, 2010, 312971],
 ['Belize', 'Maya', 10.6, 2010, 312971],
 ['Belize', 'Garifuna', 6.1, 2010, 312971],
 ['Guatemala', 'Mestizo', 50.0, 2012, 15073375],
 ['Guatemala', 'European', 10.0, 2012, 15073375],
 ['Guatemala', 'Amerindian', 30.5, 2012, 15073375],
 ['Mexico', 'Mestizo', 60.0, 2010, 112336538],
 ['Mexico', 'Amerindian', 30.0, 2010, 112336538],
 ['Mexico', 'European', 9.0, 2010, 112336538],
 ['Bermuda', 'Black', 54.0, 2010, 64237],
 ['Bermuda', 'White', 34.1, 2010, 64237],
 ['Bermuda', 'Mixed', 6.4, 2010, 64237],
 ['British Virgin Islands', 'Black', 83.4, 2001, 23161],
 ['British Virgin Islands', 'White', 7.0, 2001, 23161],
 ['British Virgin Islands', 'Amerindian', 3.4, 2001, 23161],
 ['British Virgin Islands', 'Mixed', 5.4, 2001, 23161],
 ['Canada', 'British Isles', 28.0, 2013, 35158304],
 ['Canada', 'French', 23.0, 2013, 35158304],
 ['Canada', 'European', 15.0, 2013, 35158304],
 ['Canada', 'Inuit', 2.0, 2013, 35158304],
 ['United States', 'European', 79.96, 2014, 318857056],
 ['United States', 'African', 12.85, 2014, 318857056],
 ['United States', 'Asian', 4.43, 2014, 318857056],
 ['United States', 'Amerindian', 0.97, 2014, 318857056],
 ['Cayman Islands', 'Black', 20.0, 2013, 55691],
 ['Cayman Islands', 'White', 20.0, 2013, 55691],
 ['Cayman Islands', 'Mixed', 40.0, 2013, 55691],
 ['Costa Rica', 'Mestizo', 74.0, 2014, 4773119],
 ['Costa Rica', 'European', 20.0, 2014, 4773119],
 ['Costa Rica', 'African', 3.0, 2014, 4773119],
 ['Costa Rica', 'Amerindian', 1.0, 2014, 4773119],
 ['Costa Rica', 'Chinese', 1.0, 2014, 4773119],
 ['Nicaragua', 'Mestizo', 69.0, 2012, 6071045],
 ['Nicaragua', 'European', 17.0, 2012, 6071045],
 ['Nicaragua', 'African', 9.0, 2012, 6071045],
 ['Nicaragua', 'Amerindian', 5.0, 2012, 6071045],
 ['Panama', 'Mestizo', 84.0, 2010, 3405813],
 ['Panama', 'European', 10.0, 2010, 3405813],
 ['Panama', 'Amerindian', 6.0, 2010, 3405813],
 ['Cuba', 'European', 65.1, 2012, 11167325],
 ['Cuba', 'Mestizo', 12.0, 2012, 11167325],
 ['Cuba', 'Mulatto', 12.0, 2012, 11167325],
 ['Cuba', 'African', 10.1, 2012, 11167325],
 ['Dominica', 'Carib Indians', 100.0, 2011, 70739],
 ['Dominican Republic', 'Mulatto', 73.0, 2010, 9445281],
 ['Dominican Republic', 'European', 16.0, 2010, 9445281],
 ['Dominican Republic', 'African', 11.0, 2010, 9445281],
 ['Haiti', 'African', 95.0, 2010, 9896400],
 ['Haiti', 'Mulatto', 3.0, 2010, 9896400],
 ['Haiti', 'European', 2.0, 2010, 9896400],
 ['El Salvador', 'Mestizo', 90.0, 2013, 6290420],
 ['El Salvador', 'European', 9.0, 2013, 6290420],
 ['El Salvador', 'Amerindian', 1.0, 2013, 6290420],
 ['Honduras', 'Mestizo', 90.0, 2010, 8045990],
 ['Honduras', 'Amerindian', 7.0, 2010, 8045990],
 ['Honduras', 'African', 2.0, 2010, 8045990],
 ['Honduras', 'European', 1.0, 2010, 8045990],
 ['Greenland', 'Danish', 14.0, 2013, 56370],
 ['Greenland', 'Greenlander', 86.0, 2013, 56370],
 ['Grenada', 'African', 100.0, 2011, 103328],
 ['Guadeloupe', 'Chinese', 5.0, 2011, 404635],
 ['Jamaica', 'African', 76.3, 2011, 2697983],
 ['Jamaica', 'Afro-European', 15.1, 2011, 2697983],
 ['Jamaica', 'Afro-East Indian', 3.0, 2011, 2697983],
 ['Jamaica', 'Afro-Chinese', 1.2, 2011, 2697983],
 ['Martinique', 'Chinese', 5.0, 2011, 392291],
 ['Martinique', 'African-white-Indian', 90.0, 2011, 392291],
 ['Colombia', 'Mestizo', 58.0, 2014, 47661787],
 ['Colombia', 'European', 20.0, 2014, 47661787],
 ['Colombia', 'Mulatto', 14.0, 2014, 47661787],
 ['Colombia', 'African', 4.0, 2014, 47661787],
 ['Colombia', 'black-Amerindian', 3.0, 2014, 47661787],
 ['Colombia', 'Amerindian', 1.0, 2014, 47661787],
 ['Puerto Rico', 'White', 80.2, 2010, 3725789],
 ['Puerto Rico', 'Black', 8.0, 2010, 3725789],
 ['Puerto Rico', 'Amerindian', 0.4, 2010, 3725789],
 ['Puerto Rico', 'Asian', 0.4, 2010, 3725789],
 ['Saint Kitts and Nevis', 'African', 100.0, 2010, 52352],
 ['Saint Lucia', 'African', 90.3, 2010, 165595],
 ['Saint Lucia', 'East Indian', 3.2, 2010, 165595],
 ['Saint Pierre and Miquelon', 'Basques Bretons', 100.0, 2010, 6312],
 ['Trinidad and Tobago', 'Chinese', 1.0, 2011, 1328019],
 ['Trinidad and Tobago', 'East Indian', 40.0, 2011, 1328019],
 ['Turks and Caicos Islands', 'African', 90.0, 2012, 31458],
 ['American Samoa', 'Caucasian', 2.0, 2010, 55519],
 ['American Samoa', 'Tongan', 4.0, 2010, 55519],
 ['American Samoa', 'Samoan', 89.0, 2010, 55519],
 ['Australia', 'European', 92.0, 2013, 23135281],
 ['Australia', 'Asian', 7.0, 2013, 23135281],
 ['Cook Islands', 'Polynesian', 93.5, 2011, 17794],
 ['Fiji', 'Indian', 46.0, 2010, 860559],
 ['Fiji', 'Fijian', 49.0, 2010, 860559],
 ['French Polynesia', 'French', 10.0, 2012, 268270],

In [210]:
#convert dictionary to pd df and calculate population sum for each group, displaying top 10 sorted
eg_df = pd.DataFrame(entry)
eg_df = eg_df.rename(columns = {0:'Country', 1:'Ethnicity', 2:'%ofPop', 3:'Census_Year', 4:'Population'})
eg_df['Ethnic_Group_Pop'] = eg_df['Population']*eg_df['%ofPop']/100
eg_df_group = eg_df.groupby('Ethnicity').sum()
print("Top 10 Ethnic Group Populations:")
eg_df_group = eg_df_group.sort_values('Ethnic_Group_Pop', ascending = False ).head(10)
eg_df_group['Ethnic_Group_Pop']

Top 10 Ethnic Group Populations:

Ethnicity
Han Chinese    1.245059e+09
Indo-Aryan     8.718156e+08
European       4.948722e+08
African        3.183251e+08
Dravidian      3.027137e+08
Mestizo        1.577344e+08
Bengali        1.467769e+08
Russian        1.318570e+08
Japanese       1.265342e+08
Malay          1.219936e+08
Name: Ethnic_Group_Pop, dtype: float64

Q4: name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [436]:
#Part - 1 parse the xml to find the country of rivers source, name of river, and length of river (km)
river_len = []
rivers_list = []

for rivers in document.iterfind('river'):
    try:
        river_source = rivers.find('source').get('country')
        river_len = [river_source, rivers.find('name').text, int(rivers.find('length').text)]
        rivers_list.append(river_len)
    except:
        pass

rivers_df = pd.DataFrame(rivers_list)
rivers_df = rivers_df.rename(columns = {0:'Country_Code', 1:'River', 2:'Length'})
rivers_df.sort_values("Length", ascending = False).head(1)
rivers_df

    Country_Code                River  Length
0             IS              Thjorsa     230
1             IS  Joekulsa a Fjoellum     206
2              N               Glomma     604
3              N                Lagen     322
4              S            Goetaaelv      93
5              N             Klaraelv     460
6              S              Umeaelv     470
7              S              Dalaelv     520
8              S       Vaesterdalaelv     320
9              S        Oesterdalaelv     241
10            SF            Paatsjoki     145
11            SF            Ounasjoki     300
12            SF             Kemijoki     550
13            SF             Oulujoki     107
14            SF             Kymijoki     203
15            SF        Kokemaeenjoki     121
16            SF               Vuoksi     162
17            GB               Thames     346
18             F                 Maas     925
19             F                Loire    1013
20             E              Garonne     647
21            CH                Rhone     812
22             F                Saone     480
23             F                Doubs     453
24             F                Isere     290
25             F                Seine     776
26             F                Marne     514
27             E                 Tajo    1007
28             E                Douro     897
29             E             Guadiana     742
..           ...                  ...     ...
199      RCA ZRE               Ubangi    1120
200      RCA ZRE                 Bomu     280
201          ZRE                Uelle    1130
202          ZRE                  Kwa     100
203          ZRE                 Fimi     200
204          ZRE              Lukenie     900
205          ANG                Kasai    1983
206          ANG               Cuango    1100
207          ANG                Cuilo     970
208          ZRE                 Ruki     130
209          ZRE               Busira     830
210          ZRE              Tshuapa    1300
211          ZRE                Lulua     970
212          ZRE               Lomami    1450
213          ZRE              Aruwimi    1287
214          ZRE               Lukuga     350
215      ZRE RWA               Ruzizi     104
216          ZRE                Luvua     350
217            Z              Luapula     300
218            Z              Zambezi    2574
219           MW                Chire     402
220          ANG             Okavango    1700
221          RSA              Limpopo    1750
222           LS               Oranje    2160
223          RSA                 Vaal    1251
224          AUS         Murray River    2589
225          AUS        Darling River    2739
226          AUS   Murrumbidgee River    1579
227          AUS      Eucumbene River      83
228          AUS          Snowy River     403

[229 rows x 3 columns]

In [437]:
#we will need a dictionary of country codes to convert to countries
country_code={}
for country in document.iterfind('country'):
    country_code[country.attrib['car_code']] = country.find('name').text
    #country_code[country.find('name').text] = country.attrib['car_code']

country_df = pd.DataFrame.from_dict(country_code, orient = 'index')
country_df = country_df.rename(columns = {0:'Country_Code'})
country_df.sort_values('Country_Code')

                  Country_Code
AFG                Afghanistan
AL                     Albania
DZ                     Algeria
AMSA            American Samoa
AND                    Andorra
ANG                     Angola
AXA                   Anguilla
AG         Antigua and Barbuda
RA                   Argentina
ARM                    Armenia
ARU                      Aruba
AUS                  Australia
A                      Austria
AZ                  Azerbaijan
BS                     Bahamas
BRN                    Bahrain
BD                  Bangladesh
BDS                   Barbados
BY                     Belarus
B                      Belgium
BZ                      Belize
BEN                      Benin
BERM                   Bermuda
BHT                     Bhutan
BOL                    Bolivia
BIH     Bosnia and Herzegovina
RB                    Botswana
BR                      Brazil
BVIR    British Virgin Islands
BRU                     Brunei
...                        ...
EAT                   Tanzania
THA                   Thailand
TL                 Timor-Leste
RT                        Togo
TOK                    Tokelau
TO                       Tonga
TT         Trinidad and Tobago
TN                     Tunisia
TR                      Turkey
TM                Turkmenistan
TUCA  Turks and Caicos Islands
TUV                     Tuvalu
EAU                     Uganda
UA                     Ukraine
UAE       United Arab Emirates
GB              United Kingdom
USA              United States
ROU                    Uruguay
UZB                 Uzbekistan
VU                     Vanuatu
YV                   Venezuela
VN                     Vietnam
VIRG            Virgin Islands
WAFU         Wallis and Futuna
WEST                 West Bank
WSA             Western Sahara
YE                       Yemen
ZRE                      Zaire
Z                       Zambia
ZW                    Zimbabwe

[244 rows x 1 columns]

In [438]:
rivers_df = rivers_df.merge(country_df, left_on = "Country_Code", right_index = True)#, right_index = True, left_index = False)
longest = rivers_df.sort_values('Length', ascending = False).head(1)
print('the longest river name, length, Country:')
longest[-3:]

the longest river name, length, Country:

    Country_Code Country_Code_x     River  Length Country_Code_y
170           PE             PE  Amazonas    6448           Peru

In [442]:
#Part 2 -repeat the same basic procedure but find the largest lake name, area, and country.  if multiple countries are listed we 
#take the first listing
lake_list = []


for lake in document.iterfind('lake'):
    try:
        lake_name = lake.find('name').text
        country_code = lake.get('country').split()[0]
        area = int(lake.findtext('area'))
        lake_attr = [lake_name, country_code, area]
        #river_len = [rivers.attrib['country'], rivers.find('name').text, int(rivers.find('length').text)]
        lake_list.append(lake_attr)
    except:
        pass

lake_df = pd.DataFrame(lake_list)
lake_df = lake_df.rename(columns = {0:'Lake_Name', 1:'Country_Code', 2:'Area'})
lake_df.sort_values("Area", ascending = False).head(1)

      Lake_Name Country_Code    Area
44  Caspian Sea            R  386400

In [443]:
#We merge witht the country code df and get the country name
lake_df = lake_df.merge(country_df, left_on = "Country_Code", right_index = True)#, right_index = True, left_index = False)
largest = lake_df.sort_values("Area", ascending = False).head(1)
print("Largest lake (by area km^2) and country:")
largest

Largest lake (by area km^2) and country:

   Country_Code    Lake_Name Country_Code_x    Area Country_Code_y
44            R  Caspian Sea              R  386400         Russia

In [450]:
#Part 3 - basically repeat the same sequences but parse for airport countries and elevation of each
airport_list = []

for airport in document.iterfind('airport'):
    entry = []
    try:
        airport_name = airport.find('name').text
        country = airport.attrib['country']
        elevation = int(airport.findtext('elevation'))
        #print (airport_name, country, elevation)
        entry.append(country)
        entry.append(airport_name)
        entry.append(elevation)
    except:
        pass
    airport_list.append(entry)

airport_df = pd.DataFrame(airport_list)
airport_df = airport_df.rename(columns = {0:'Country_Code', 1:'Airport', 2:'Elevation'})

highest = airport_df.sort_values("Elevation", ascending = False).head(1)
print("the country with t")
highest

   Country_Code       Airport  Elevation
80          BOL  El Alto Intl     4063.0

In [473]:
highest.iloc[0]["Country_Code"]

'BOL'