In [1]:
import pandas as pd
import numpy as np

# Generate series of times

In [2]:
# specify with start date & number of periods
rng = pd.date_range('2016 Jul 15 10:15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31 10:15:00', '2016-08-31 10:15:00',
               '2016-09-30 10:15:00', '2016-10-31 10:15:00',
               '2016-11-30 10:15:00', '2016-12-31 10:15:00',
               '2017-01-31 10:15:00', '2017-02-28 10:15:00',
               '2017-03-31 10:15:00', '2017-04-30 10:15:00'],
              dtype='datetime64[ns]', freq='M')

### let's explore some of the other options for date_range
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html

In particular, let's take a look at 'normalize' and 'end'

In [3]:
rng = pd.date_range('2016 Jul 15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31',
               '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28',
               '2017-03-31', '2017-04-30'],
              dtype='datetime64[ns]', freq='M')

### Which of these formats DON'T work?
'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01'


#### You'll want to try this with pd.to_datetime

In [28]:
#They all work but 1/7 and 7/1 flip the month/day

In [29]:
# You may encounter the need to deal with European style formatted dates. 
# In that case, you'll want to use pd.to_datetime

In [30]:
# See the behavior with the following examples. Do you see the pattern?

In [31]:
pd.to_datetime('01/07/2016', dayfirst = True) == pd.to_datetime('01/07/2016', dayfirst = False)

False

In [32]:
pd.to_datetime('01-07-2016', dayfirst = True) == pd.to_datetime('01-07-2016', dayfirst = False)

False

In [33]:
pd.to_datetime('2016-01-07', dayfirst = True) == pd.to_datetime('2016-01-07', dayfirst = False)

True

# Timestamps

In [34]:
# add increasing detail
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [35]:
pd.Timestamp('2016-07-10 10:15:15')

Timestamp('2016-07-10 10:15:15')

### How much detail can you add?

##Y:M:D H:M:S all the way to floating pt fractions of a S down to NS nanosecond but this uses a lot of storage

### What are some properties of time stamps? 
Hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components

In [36]:
t = pd.Timestamp('2016-07-10 10:15:15')

In [37]:
t.quarter

3

In [38]:
t = pd.Timestamp('2016-07-10 8 pm')
t

Timestamp('2016-07-10 20:00:00')

### How are time stamps lacking?

In [39]:
#they are exact moments, not periods or ranges of times

# Time offsets

In [40]:
pd.Timedelta('1 day 1us')

Timedelta('1 days 00:00:00.000001')

In [41]:
pd.Timestamp('2016-07-01 8:00') + pd.Timedelta('1.5 hours')

Timestamp('2016-07-01 09:30:00')

In [43]:
pd.Timedelta('15ns')*1000 #bug? what kind of bug?
#no, ns works but it just isn't showing in timedelta function

Timedelta('0 days 00:00:00.000015')

In [44]:
rng + pd.Timedelta('1day')

PeriodIndex(['2016-01-02 12:00', '2016-01-02 13:00', '2016-01-02 14:00',
             '2016-01-02 15:00', '2016-01-02 16:00', '2016-01-02 17:00',
             '2016-01-02 18:00', '2016-01-02 19:00', '2016-01-02 20:00',
             '2016-01-02 21:00'],
            dtype='period[H]', freq='H')

# Time spans

In [45]:
p = pd.Period('7/2016')
t = pd.Timestamp('7/21/2016')
p.start_time < t and p.end_time > t

True

In [46]:
rng = pd.period_range('2016-01-01 12:15', freq = 'H', periods = 10)
rng

PeriodIndex(['2016-01-01 12:00', '2016-01-01 13:00', '2016-01-01 14:00',
             '2016-01-01 15:00', '2016-01-01 16:00', '2016-01-01 17:00',
             '2016-01-01 18:00', '2016-01-01 19:00', '2016-01-01 20:00',
             '2016-01-01 21:00'],
            dtype='period[H]', freq='H')

In [47]:
rng = pd.period_range('2016-01-01 12:15', freq = '60T', periods = 10)
rng

PeriodIndex(['2016-01-01 12:15', '2016-01-01 13:15', '2016-01-01 14:15',
             '2016-01-01 15:15', '2016-01-01 16:15', '2016-01-01 17:15',
             '2016-01-01 18:15', '2016-01-01 19:15', '2016-01-01 20:15',
             '2016-01-01 21:15'],
            dtype='period[60T]', freq='60T')

In [48]:
rng = pd.period_range('2016-01-01 12:15', freq = '1H', periods = 10)
rng

PeriodIndex(['2016-01-01 12:00', '2016-01-01 13:00', '2016-01-01 14:00',
             '2016-01-01 15:00', '2016-01-01 16:00', '2016-01-01 17:00',
             '2016-01-01 18:00', '2016-01-01 19:00', '2016-01-01 20:00',
             '2016-01-01 21:00'],
            dtype='period[H]', freq='H')

### How can you determine whether a timestamp falls within a given period?

In [50]:
#check boolean for the time period
p.start_time < t and p.end_time > t

True

In [ ]:
# %load snippets/startend.py
p = pd.Period('2016-07')
p.start_time
p.end_time

### Try out some other functionality with different offset-aliases. Anything interesting?

In [53]:
pd.date_range(p.start_time, periods=5, freq='B')

DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-05', '2016-07-06',
               '2016-07-07'],
              dtype='datetime64[ns]', freq='B')

In [54]:
pd.date_range(p.start_time, periods=10, freq='2h20min')

DatetimeIndex(['2016-07-01 00:00:00', '2016-07-01 02:20:00',
               '2016-07-01 04:40:00', '2016-07-01 07:00:00',
               '2016-07-01 09:20:00', '2016-07-01 11:40:00',
               '2016-07-01 14:00:00', '2016-07-01 16:20:00',
               '2016-07-01 18:40:00', '2016-07-01 21:00:00'],
              dtype='datetime64[ns]', freq='140T')

### How can you make a pandas Time Series with these aliases?

In [55]:
num_periods = 40
ts_pd = pd.Series(range(num_periods), pd.period_range('2016-07-01 11:15', freq = '60T', periods = num_periods))

In [56]:
ts_pd['2016-7-1 11':'2016-7-1 13']

2016-07-01 11:15    0
2016-07-01 12:15    1
2016-07-01 13:15    2
Freq: 60T, dtype: int32

### How can we index a time series with a date_range?

In [57]:
num_periods = 40
ts_dt = pd.Series(range(num_periods), pd.date_range('2016-07-01 11:15', freq = '60T', periods = num_periods))

### What are the use cases for a series with a DateTimeIndex vs a PeriodIndex? Where will we see a difference?

In [61]:
ts_dt['2016-7-1 11']

2016-07-01 11:15:00    0
Freq: 60T, dtype: int32

### How can we convert between a DateTimeIndex and a PeriodIndex?

In [69]:
ts_dt.to_period(freq = '60T')
ts_pd.to_timestamp()

2016-07-01 11:15:00     0
2016-07-01 12:15:00     1
2016-07-01 13:15:00     2
2016-07-01 14:15:00     3
2016-07-01 15:15:00     4
2016-07-01 16:15:00     5
2016-07-01 17:15:00     6
2016-07-01 18:15:00     7
2016-07-01 19:15:00     8
2016-07-01 20:15:00     9
2016-07-01 21:15:00    10
2016-07-01 22:15:00    11
2016-07-01 23:15:00    12
2016-07-02 00:15:00    13
2016-07-02 01:15:00    14
2016-07-02 02:15:00    15
2016-07-02 03:15:00    16
2016-07-02 04:15:00    17
2016-07-02 05:15:00    18
2016-07-02 06:15:00    19
2016-07-02 07:15:00    20
2016-07-02 08:15:00    21
2016-07-02 09:15:00    22
2016-07-02 10:15:00    23
2016-07-02 11:15:00    24
2016-07-02 12:15:00    25
2016-07-02 13:15:00    26
2016-07-02 14:15:00    27
2016-07-02 15:15:00    28
2016-07-02 16:15:00    29
2016-07-02 17:15:00    30
2016-07-02 18:15:00    31
2016-07-02 19:15:00    32
2016-07-02 20:15:00    33
2016-07-02 21:15:00    34
2016-07-02 22:15:00    35
2016-07-02 23:15:00    36
2016-07-03 00:15:00    37
2016-07-03 01:15:00    38
2016-07-03 02:15:00    39
Freq: H, dtype: int32

In [74]:
ts_pd['2016-7-1':'2016-7-2']

2016-07-01 11:15     0
2016-07-01 12:15     1
2016-07-01 13:15     2
2016-07-01 14:15     3
2016-07-01 15:15     4
2016-07-01 16:15     5
2016-07-01 17:15     6
2016-07-01 18:15     7
2016-07-01 19:15     8
2016-07-01 20:15     9
2016-07-01 21:15    10
2016-07-01 22:15    11
2016-07-01 23:15    12
2016-07-02 00:15    13
2016-07-02 01:15    14
2016-07-02 02:15    15
2016-07-02 03:15    16
2016-07-02 04:15    17
2016-07-02 05:15    18
2016-07-02 06:15    19
2016-07-02 07:15    20
2016-07-02 08:15    21
2016-07-02 09:15    22
2016-07-02 10:15    23
2016-07-02 11:15    24
2016-07-02 12:15    25
2016-07-02 13:15    26
2016-07-02 14:15    27
2016-07-02 15:15    28
2016-07-02 16:15    29
2016-07-02 17:15    30
2016-07-02 18:15    31
2016-07-02 19:15    32
2016-07-02 20:15    33
2016-07-02 21:15    34
2016-07-02 22:15    35
2016-07-02 23:15    36
Freq: 60T, dtype: int32

# Try

(1) How can you create a pd.Timestamp with a European style formatted date string? hint: dayfirst flag

(2) How can you generate string representation in a desired format from a pd.Timestamp?

In [75]:
pd.to_datetime('4/3/2016', dayfirst = True)

Timestamp('2016-03-04 00:00:00')

In [78]:
t1 = pd.to_datetime('4/3/2016', dayfirst = True).strftime(format = '%Y/%M/%D')
t1

'2016/00/03/04/16'

In [ ]:
# %load snippets/try1.py
t1 = pd.to_datetime('2016-06-18 12:15pm', dayfirst = True).strftime(format = '%Y/%M/%D')

t2 = pd.Timestamp('2016-06-18 12:15pm').strftime(format = '%Y/%M/%D')